@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Roboto", sans-serif;
}

.primary {
  background-color: #2d2f33;
}
.secondary {
  background-color: #25262a;
}
.btn-bg {
  background-color: #00bcff;
}
